
body {
    font-family: Arial, sans-serif;
    background-color: #f7f3f0;
    margin: 0;
    padding: 0;
   
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
  

header {
position: fixed;
background-color: #1a1423;
height: 40px;
width: 1880px;
margin-bottom: 40px;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1;
}

.lc {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #96705B;  
  border-radius: 5px;
  margin-left: 10px;
  color: #111
}

.lc :hover {
  color: #1a1423;
}

.logo {
  margin-left: 20px;
  }



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 45px;
}

li {
  float: left;
}

li .m, li a, .dropbtn {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .m, li a:hover, .dropdown:hover .dropbtn {
  color: #AB8476;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 2px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}




.pesquisa {

position: relative;
display: flex;
align-items: center;
}

.pesquisa input[type="text"] {
font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
width: 580px;
padding: 10px 50px 10px 10px;
border: none;
border-radius: 2px;
font-size: 18px;
color: #333;
background-color: #eee;
transition: all 0.3s ease;
}

.pesquisa input[type="text"]:focus {
outline: none;
width: 700px;
background-color: #fff;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pesquisa button[type="submit"] {

position: absolute;
top: 50%;
right: 15px;
transform: translateY(-50%);
border: none;
background-color: transparent;
font-size: 18px;
color: #999;
transition: all 0.3s ease;
}

.pesquisa button[type="submit"]:hover {
color: #333;
}

.slider {
  margin-top: 80px;
}


div#slider figure { 
  position:relative ;
  width: 600%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 22s slidy infinite; 
}




@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -1920px; }
45% { left: -1920px; }
50% { left: -3840px; }
70% { left: -3840px; }
75% { left: -5760px; }
95% { left: -5760px; }
100% { left: -7680px; }
}





.produto {
  display: inline-block;
  width: 205px;
  height: 385px;
  margin: 15px;
  margin-bottom: 50px;
  padding: 10px 10px 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  }
  
  .produto:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  }
  
  
  
  .produto h2 {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  }
  
  .produto p {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #999;
  margin-top: -5px;
  }
  
  .produto h3{
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -10px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: -5px;
  color: #96705B;
  }
  
  
  .add {
  
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #3D314A;
  color: #fafafa;
  }
  
  .produto a {
    color: #111;
    text-decoration: none;
  }
  
  .imagem {
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    }
  .destaque {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 0;
  
  }







footer {
  background-color: #1a1423;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}


.menup {
  padding:50px;
  background-color:#AB8476;
  margin-top: -5px;
}

.menup a {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 50px;
  text-decoration: none;
  color:#f9f9f9;
  font-size: 20px;
  font-weight: 600;

}

.menup :hover{

  background-color: #3D314A;
}



.banner {
position: relative;
margin-top: 80px;
}

.filtro div{
  text-align: left;
  margin-left: 86px;
  margin-top: 50px;
  
}

.filtro label{
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #96705B;
} 

.filtro {
float: left;
width: 400px;
height: 1000px;
margin: 15px;
margin-bottom: 50px;
margin-left: 60px;
margin-top: 50px;
padding: 40px 10px 5px 10px;
border-radius: 5px;
background-color: #fff;
text-align: center;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

}

.filtro a {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.pr {
  margin-top: 35px;
  margin-left: 500px;
}

.fp {
    display: table;
}


.topop{
width: 1920px;
margin-top: 150px;
margin-bottom: 0px;


}

.imgdp {
display: table;
float: left;
margin-left: 380px



}


.imgp {
height: 600px;
border-radius: 5px;
background-color: #fff;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.produto2 {
  display: inline-block;
  width: 400px;
  height: 540px;
  padding: 30px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 100px;
  border-radius: 5px;
  border: 0px;
background-color: #fafafa;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease-in-out;

  }
  
  .produto2 h2 {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  color: #111;
  }
  
  .produto2 p {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color:#333;
  margin-top: 0;
  text-align: justify;
  }
  
  .produto2 h3{
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #96705B;
  margin-bottom: 30px;
  margin-top: 50px;
  }
  

  
  .produto a {
    color: #111;
    text-decoration: none;
  }


  .add2 {
    
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color:#3D314A;
    color: #fafafa;
    margin-bottom: 15px;
    }

    .add3 {
      padding-top: 100px;
      font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
    font-weight: 500;
    margin-bottom:-10px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color:#96705B;
    color: #fafafa;
      }


.receitas {
margin-left: 380px;
margin-top: 0px;

}

.receitas h2 {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.receitas h3{
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #96705B;
  margin-top: 30px;
}

.receitas p {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 60px;
  margin-top: -10px;
}


























.desc {
height: 700px;
text-align: left;

}

.desct {
text-align: left;
font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 32px;
font-weight: 700;
margin-left: 100px;
padding-bottom: 100px;
}

.descst{
  margin-top: 100px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 100px;
}

.despr {
font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 60px;
font-weight: 700;
color: #96705B;
text-align: left;
margin-left: 100px;
}

.addp {
width: 200px;
font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-weight: 600;
border: 0px;
border-radius: 5px;
margin-top: 10px;
padding: 10px;
background-color: #3D314A;
color: #fafafa;
margin-left: 100px;
}

.comp {
  width: 200px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  background-color: #3D314A;
  color: #fafafa;

}






.cur {
  margin-left: 0px;
  margin-top: 100px;
  padding: auto;
  
}

.sec {
  display: table;
  margin-bottom: 100px;
  margin-top: 150px;
  margin-left: 400px;
}

.sec p {
  
  width: 500px;
  float: right;
  margin-left: 50px;
  color: #333;
  text-align: justify;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
  font-weight: 700;
  margin-right: 80px;
	line-height: 1.5;
  
  
}

.sec h3 {
  width: 500px;
  float: right;
  margin-left: 50px;
  color: #96705B;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 700;
  
}


.sobre {
  
  width: 1000px;
  margin-left: 220px;
}

.sobre h3 {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #96705B;
  margin-bottom: 20px;
}

.sobre p {
  color: #333;
  text-align: justify;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
  font-weight: 700;
	line-height: 1.5;
  margin-bottom: 60px;

}

main h2 {
  color:#96705B;
  text-align: justify;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
  font-weight: 700;
  margin-top: 0;
}
.cd {
  padding: 30px;
  width: 500px;
  height: 730px;
  background-color: #fafafa;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fafafa;
  text-align: left;
  margin-bottom: 100px;

}

.lg {
  padding: 30px;
  width: 500px;
  height: 450px;
  background-color: #fafafa;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fafafa;
  text-align: left;
  margin-bottom: 100px;
}

.ct {
  padding: 30px;
  width: 500px;
  height: 680px;
  background-color: #fafafa;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fafafa;
  text-align: left;
  margin-bottom: 100px;
}


main a {
  color: #3D314A;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
  font-weight: 500;
  

}

main label {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 30px;
  color:#333;
  text-align: justify;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
  font-weight: 700;
 
}

main textarea {
 height: 150px;
 

}

main input {
  height: 30px;
  margin-bottom: 10px;
  
 }

main input,
textarea {
  width: 470px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #333;
  color: #111;
  text-align: justify;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
 
}

main button {
  background-color:#3D314A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: 600;
width: 100%;

}


.info {
  margin-left: 15px;
  margin-bottom: 100px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

footer div {
  margin-left: 60px;
  margin-top: 60px;
}